<?xml version="1.0"?>
<config>
  <modules>
    <HDC_Customerattribute>
      <version>0.1.0</version>
    </HDC_Customerattribute>
  </modules>
  <global>
    <helpers>
      <customerattribute>
        <class>HDC_Customerattribute_Helper</class>
      </customerattribute>
    </helpers>
	<models>
	  <customerattribute>
		<class>HDC_Customerattribute_Model</class>
		<resourceModel>customerattribute_mysql4</resourceModel>
	  </customerattribute>
	</models>
	<resources>
	  <customerattribute1406274998_setup>
		<setup>
		  <module>HDC_Customerattribute</module>
		  <class>Mage_Customer_Model_Entity_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </customerattribute1406274998_setup>
	  <customerattribute1406274998_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </customerattribute1406274998_write>
	  <customerattribute1406274998_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </customerattribute1406274998_read>
	</resources>
  </global>
</config> 