<?xml version="1.0"?>
<config>
  <modules>
    <HDC_Whatpeoplesay>
      <version>0.1.0</version>
    </HDC_Whatpeoplesay>
  </modules>
  <global>
    <helpers>
      <whatpeoplesay>
        <class>HDC_Whatpeoplesay_Helper</class>
      </whatpeoplesay>
    </helpers>
	<blocks>
	  <whatpeoplesay>
		<class>HDC_Whatpeoplesay_Block</class>
	  </whatpeoplesay>
	</blocks>
	<models>
	  <whatpeoplesay>
		<class>HDC_Whatpeoplesay_Model</class>
		<resourceModel>whatpeoplesay_mysql4</resourceModel>
	  </whatpeoplesay>
	  <whatpeoplesay_mysql4>
		<class>HDC_Whatpeoplesay_Model_Mysql4</class>
		<entities>		  
			  <whatpeoplesay>
				<table>what_people_say</table>
			  </whatpeoplesay>
        </entities>
	  </whatpeoplesay_mysql4>
	</models>
	<resources>
	  <whatpeoplesay_setup>
		<setup>
		  <module>HDC_Whatpeoplesay</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </whatpeoplesay_setup>
	  <whatpeoplesay_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </whatpeoplesay_write>
	  <whatpeoplesay_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </whatpeoplesay_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <whatpeoplesay>
	    <use>admin</use>
		<args>
		  <module>HDC_Whatpeoplesay</module>
		  <frontName>whatpeoplesay</frontName>
		</args>
	  </whatpeoplesay>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <hdc module="whatpeoplesay">
		<title>HDC</title>
		<sort_order>100</sort_order>
		<children>
		  <whatpeoplesay module="whatpeoplesay">
		    <title>What People Say</title>
			<sort_order>0</sort_order>
			<action>whatpeoplesay/adminhtml_whatpeoplesay</action>
		  </whatpeoplesay>
		</children>
	  </hdc>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<whatpeoplesay translate="title" module="whatpeoplesay">
			  <title>Whatpeoplesay</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <whatpeoplesay translate="title">
			<title>Manage Whatpeoplesay</title>
			<sort_order>0</sort_order>
		  </whatpeoplesay>
			  </children>
			</whatpeoplesay>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<whatpeoplesay>
		  <file>whatpeoplesay.xml</file>
		</whatpeoplesay>
	  </updates>
	</layout>
  </adminhtml>
</config> 