<?xml version="1.0"?>
<config>
  <modules>
    <HDC_Customer>
      <version>0.1.0</version>
    </HDC_Customer>
  </modules>
  <frontend>
    <routers>
      <hdccustomer>
        <use>standard</use>
          <args>
            <module>HDC_Customer</module>
            <frontName>hdccustomer</frontName>
          </args>
      </hdccustomer>
    </routers>
		<layout>
		  <updates>
			<hdccustomer>
			  <file>hdc_customer.xml</file>
			</hdccustomer>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <hdccustomer>
        <class>HDC_Customer_Helper</class>
      </hdccustomer>
    </helpers>
	<blocks>
	  <hdccustomer>
		<class>HDC_Customer_Block</class>
	  </hdccustomer>
	</blocks>
  </global>
</config> 