<?xml version="1.0"?>
<config>
  <modules>
    <HDC_Consumers>
      <version>0.1.0</version>
    </HDC_Consumers>
  </modules>
  <frontend>
    <routers>
      <consumers>
        <use>standard</use>
          <args>
            <module>HDC_Consumers</module>
            <frontName>consumers</frontName>
          </args>
      </consumers>
    </routers>
  </frontend>
  <default>
  	<captcha>
         <frontend>
             <areas>
                 <consumers>
                     <label>consumers</label>
                 </consumers>
             </areas>
         </frontend>
     </captcha>
  </default>
  <global>
    <helpers>
      <consumers>
        <class>HDC_Consumers_Helper</class>
      </consumers>
    </helpers>
	<blocks>
	  <consumers>
		<class>HDC_Consumers_Block</class>
	  </consumers>
	</blocks>
	<models>
	  <consumers>
		<class>HDC_Consumers_Model</class>
		<resourceModel>consumers_mysql4</resourceModel>
	  </consumers>
	  <consumers_mysql4>
		<class>HDC_Consumers_Model_Mysql4</class>
		<entities>		  
			  <consumer>
				<table>consumers</table>
			  </consumer>
        </entities>
	  </consumers_mysql4>
	</models>
	<resources>
	  <consumers_setup>
		<setup>
		  <module>HDC_Consumers</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </consumers_setup>
	  <consumers_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </consumers_write>
	  <consumers_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </consumers_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <consumers>
	    <use>admin</use>
		<args>
		  <module>HDC_Consumers</module>
		  <frontName>consumers</frontName>
		</args>
	  </consumers>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <hdc module="consumers">
		<children>
		  <consumer module="consumers">
		    <title>Consumers</title>
			<sort_order>0</sort_order>
			<action>consumers/adminhtml_consumer</action>
		  </consumer>
		</children>
	  </hdc>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<consumers translate="title" module="consumers">
			  <title>Consumers</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <consumer translate="title">
			<title>Manage Consumer</title>
			<sort_order>0</sort_order>
		  </consumer>
			  </children>
			</consumers>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<consumers>
		  <file>consumers.xml</file>
		</consumers>
	  </updates>
	</layout>
  </adminhtml>
</config> 