<?xml version="1.0"?>
<config>
  <modules>
    <HDC_Faq>
      <version>0.1.0</version>
    </HDC_Faq>
  </modules>
  <frontend>
    <routers>
      <faq>
        <use>standard</use>
          <args>
            <module>HDC_Faq</module>
            <frontName>faq</frontName>
          </args>
      </faq>
    </routers>
		<layout>
		  <updates>
			<faq>
			  <file>faq.xml</file>
			</faq>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <faq>
        <class>HDC_Faq_Helper</class>
      </faq>
    </helpers>
	<blocks>
	  <faq>
		<class>HDC_Faq_Block</class>
	  </faq>
	</blocks>
	<models>
	  <faq>
		<class>HDC_Faq_Model</class>
		<resourceModel>faq_mysql4</resourceModel>
	  </faq>
	  <faq_mysql4>
		<class>HDC_Faq_Model_Mysql4</class>
		<entities>		  
			  <faq>
				<table>faq</table>
			  </faq>
        </entities>
	  </faq_mysql4>
	</models>
	<resources>
	  <faq_setup>
		<setup>
		  <module>HDC_Faq</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </faq_setup>
	  <faq_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </faq_write>
	  <faq_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </faq_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <faq>
	    <use>admin</use>
		<args>
		  <module>HDC_Faq</module>
		  <frontName>faq</frontName>
		</args>
	  </faq>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <hdc module="faq">
		<children>
		  <faq module="faq">
		    <title>FAQ Section</title>
			<sort_order>0</sort_order>
			<action>faq/adminhtml_faq</action>
		  </faq>
		</children>
	  </hdc>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<faq translate="title" module="faq">
			  <title>Faq</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <faq translate="title">
			<title>Manage Faq</title>
			<sort_order>0</sort_order>
		  </faq>
			  </children>
			</faq>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<faq>
		  <file>faq.xml</file>
		</faq>
	  </updates>
	</layout>
  </adminhtml>
</config> 