<?xml version="1.0"?>
<config>
  <modules>
    <HDC_Forms>
      <version>0.1.0</version>
    </HDC_Forms>
  </modules>
  <global>
    <helpers>
      <forms>
        <class>HDC_Forms_Helper</class>
      </forms>
    </helpers>
	<blocks>
	  <forms>
		<class>HDC_Forms_Block</class>
	  </forms>
	</blocks>
	<models>
	  <forms>
		<class>HDC_Forms_Model</class>
		<resourceModel>forms_mysql4</resourceModel>
	  </forms>
	  <forms_mysql4>
		<class>HDC_Forms_Model_Mysql4</class>
		<entities>		  
			  <form>
				<table>forms</table>
			  </form>
        </entities>
	  </forms_mysql4>
	</models>
	<resources>
	  <forms_setup>
		<setup>
		  <module>HDC_Forms</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </forms_setup>
	  <forms_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </forms_write>
	  <forms_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </forms_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <forms>
	    <use>admin</use>
		<args>
		  <module>HDC_Forms</module>
		  <frontName>forms</frontName>
		</args>
	  </forms>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <forms module="forms">
		<title>Forms</title>
		<sort_order>100</sort_order>
		<children>
		  <form module="forms">
		    <title>Manage Form</title>
			<sort_order>0</sort_order>
			<action>forms/adminhtml_form</action>
		  </form>
		</children>
	  </forms>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<forms translate="title" module="forms">
			  <title>Forms</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <form translate="title">
			<title>Manage Form</title>
			<sort_order>0</sort_order>
		  </form>
			  </children>
			</forms>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<forms>
		  <file>forms.xml</file>
		</forms>
	  </updates>
	</layout>
  </adminhtml>
</config> 