<?xml version="1.0"?>
<config>
  <modules>
    <HDC_Photogallery>
      <version>0.1.0</version>
    </HDC_Photogallery>
  </modules>
  <frontend>
    <routers>
      <photogallery>
        <use>standard</use>
          <args>
            <module>HDC_Photogallery</module>
            <frontName>photogallery</frontName>
          </args>
      </photogallery>
    </routers>
		<layout>
		  <updates>
			<photogallery>
			  <file>photogallery.xml</file>
			</photogallery>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <photogallery>
        <class>HDC_Photogallery_Helper</class>
      </photogallery>
    </helpers>
	<blocks>
	  <photogallery>
		<class>HDC_Photogallery_Block</class>
	  </photogallery>
	</blocks>
	<models>
	  <photogallery>
		<class>HDC_Photogallery_Model</class>
		<resourceModel>photogallery_mysql4</resourceModel>
	  </photogallery>
	  <photogallery_mysql4>
		<class>HDC_Photogallery_Model_Mysql4</class>
		<entities>		  
			  <photogallery>
				<table>photogallery</table>
			  </photogallery>
        </entities>
	  </photogallery_mysql4>
	</models>
	<resources>
	  <photogallery_setup>
		<setup>
		  <module>HDC_Photogallery</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </photogallery_setup>
	  <photogallery_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </photogallery_write>
	  <photogallery_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </photogallery_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <photogallery>
	    <use>admin</use>
		<args>
		  <module>HDC_Photogallery</module>
		  <frontName>photogallery</frontName>
		</args>
	  </photogallery>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <hdc module="photogallery">
		<sort_order>100</sort_order>
		<children>
		  <photogallery module="photogallery">
		    <title>Photo Gallery</title>
			<sort_order>0</sort_order>
			<action>photogallery/adminhtml_photogallery</action>
		  </photogallery>
		</children>
	  </hdc>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<photogallery translate="title" module="photogallery">
			  <title>Photogallery</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <photogallery translate="title">
			<title>Manage Photogallery</title>
			<sort_order>0</sort_order>
		  </photogallery>
			  </children>
			</photogallery>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<photogallery>
		  <file>photogallery.xml</file>
		</photogallery>
	  </updates>
	</layout>
  </adminhtml>
</config> 